Plug 'tpope/vim-surround'

set hlsearch                      " highlight search occurrences
set ignorecase                    " ignore case in search patterns
set smartcase                     " no ignore case when pattern is uppercase
"set incsearch                     " show search results while typing
set wrapscan                      " searches wrap around the end of the file

" tsekkaa:
" - komentojen ketjuttaminen
"    :help command-bar
"    :help map_bar

let mapleader = " "

set iskeyword-=(,)
set iskeyword=@,48-57,_,192-255,?,-,*,!,+,/,=,<,>,.,:,$

map <leader>vh <action>(cursive.repl.Command.domain-core/henkilötunnus?)
map <leader>ihn <Action>(Cursive.Repl.Command.Evaluate selected number with ikä->random-hetu :nainen)
map <leader>ihm <Action>(Cursive.Repl.Command.Evaluate selected number with ikä->random-hetu :mies)
map <leader>ihd <Action>(Cursive.Repl.Command.Transform selected number to (def m (ikä->random-hetu... :mies)))
map <leader>rr <Action>(:cursive.repl.actions/jump-to-repl)
"map <leader>rh <Action>(:cursive.repl.actions/jump-to-repl)<CR><bar

nnoremap <leader>si :source ~/.ideavimrc<CR>

"nnoremap <S-Left> :action EditorLeftWithSelection<CR>
"nnoremap <S-Right> :action EditorRightWithSelection<CR>
"nnoremap <S-Up> :action EditorUpWithSelection<CR>
"nnoremap <S-Down> :action EditorDownWithSelection<CR>
"
"inoremap <S-Left> <C-O>:action EditorLeftWithSelection<CR>
"inoremap <S-Right> <C-O>:action EditorRightWithSelection<CR>
"inoremap <S-Up> <C-O>:action EditorUpWithSelection<CR>
"inoremap <S-Down> <C-O>:action EditorDownWithSelection<CR>
"
"vnoremap <S-Left> <C-O>:action EditorLeftWithSelection<CR>
"vnoremap <S-Right> <C-O>:action EditorRightWithSelection<CR>
"vnoremap <S-Up> <C-O>:action EditorUpWithSelection<CR>
"vnoremap <S-Down> <C-O>:action EditorDownWithSelection<CR>
